.toggleKeyboard {
  position: absolute;
  top: 0;
  right: 15px;
  background: #ededed;
  text-align: center;
  width: 40px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.App-chatactions {
  height: 94px;
}

.App-chatactions input {
  height: 100%;
  width: 100%;
  border: 0;
}