.message-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.message-container.message-user {
  align-items: flex-end; 
}

.message-lines {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.message-container.message-user .message-lines {
  text-align: right;
}

.message-text {
  background-color:#9579e7;
  color:#fff;
  padding: 10px 20px;
  border-radius: 25px;
  max-width: calc(90% - 60px);
  display: inline-block;
  margin-bottom: 5px;
}

.message-who {
  color: #999;
  font-size: 11px;
  margin-top: -2px;
}

.message-container.message-user .message-text {
  background-color: #f3f2f1;
  color:#333;
}