.buttonRecorder {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid #9579e7;
  color: #9579e7;
}


.sound-wave {
  height: 60px;
  width: 100%;
}